.list {
  display: flex;
  width: 100%;
  background-color: #e3e3e3;

  .listContainer {
    flex: 6;
  }

  .listTitle {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    display: flex;
    margin-left: 2%;
  }
}
