.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;

  .title {
    color: #000000;
    font-size: 50px;
    margin-bottom: 10px;
  }

  .paragraph {
    color: #515151;
    font-size: 1.2em;
  }

  img {
    max-width: 40%;
    height: auto;
  }
}
