.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  background-color: #ffff;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
  padding: 30px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 19px;
      color: rgb(0, 0, 0);
    }

    .counter {
      font-size: 50px;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .percentage {
      display: flex;
      font-size: 13px;
      font-weight: bold;
      align-items: center;

      // .indicator {
      //   // display: flex;
      //   // align-items: end;
      //   // flex-direction: column;

      //   .positive {
      //     color: green;
      //   }
      //   .negative {
      //     color: red;
      //   }
      // }
    }

    .icon {
      font-size: 40px;
      padding: 10px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
