.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  height: 100vh;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-radius: 10px;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  width: 200px;
  height: 100px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.paragraph p {
  font-size: 18px;
  font-weight: bold;
  color: #8391a1;
  text-align: center;
  margin: 70px 80px 40px 75px;
}

.title p {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-align: left;
  font-family: "Playfair Display";
  margin: 70px 80px 0 75px;
}

.form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 15px;
  text-align: center;
  color: #000;
  & a {
    font-size: 15px;
    text-decoration: none;
    color: #0f9eea;
    font-weight: bold;
  }
}

.submit {
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
  background: linear-gradient(to right, #197391, #0f9eea);

  & p {
    color: #ffffff;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
