//  MainLayout Style
.main-layout {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
}

.flex-container {
  display: flex;
}

main {
  flex: 1;
}

// Navbar styling
.navbar {
  background-color: #ffffff;

  // Top section
  .top {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 40px;

    // Logo styling
    img {
      width: 150px;
      height: auto;
    }
  }

  // User type styling
  .usertype {
    margin-right: 3%;
  }
}

// Sidebar styling
.sidebar {
  padding: 35px;
  flex: 1;
  height: auto;
  background-color: white;
  max-width: 15%;

  // Center section
  .center {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      // List item title styling
      .title {
        font-size: 13px;
        font-weight: bold;
        color: #999;
        margin-bottom: 5px;
      }

      // List item styling
      li {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor: pointer;

        // Hover effect
        &:hover {
          background: linear-gradient(to right, #197391, #0f9eea);
          .icon {
            font-size: 18px;
            color: #ffffff;
          }
          span {
            font-size: 13px;
            font-weight: 600;
            color: #ffffff;
            margin-left: 10px;
          }
        }

        // Default state
        .icon {
          font-size: 18px;
          color: #000000;
        }
        span {
          font-size: 13px;
          font-weight: 600;
          color: #000000;
          margin-left: 10px;
        }

        // Active state
        &.active {
          background: linear-gradient(to right, #197391, #0f9eea);
          .icon {
            font-size: 18px;
            color: #ffffff;
          }
          span {
            font-size: 13px;
            font-weight: 600;
            color: #ffffff;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// Media query for smaller screens
@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
    max-width: 100%;

    .center ul li {
      padding: 10px;
      justify-content: center;
      text-align: center;
      span {
        display: none;
      }
    }

    .center ul li .icon {
      font-size: 24px;
    }
  }

  .center ul .title {
    font-size: 12px;
  }
}
