.list {
  display: flex;
  width: 100%;
  background-color: #e3e3e3;

  .listContainer {
    flex: 6;
  }

  .listTitle {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    display: flex;
    margin-top: 3%;
  }
}
.head {
  text-align: center;
  margin-top: 14px;
  // margin-left: 90%;
  .addBtn {
    background: linear-gradient(to right, #197391, #0f9eea);
    width: 80px;
    font-weight: bold;
    color: #ffffff;
  }
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .editButton {
    padding: 2px 5px;
    color: #585858;
    cursor: pointer;
  }

  .deleteButton {
    padding: 2px 5px;
    color: #585858;
    cursor: pointer;
  }
}
