.search {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  padding: 3px;
  border-radius: 7px;
  margin-right: 10px;

  input {
    border: none;
    outline: none;
    background: transparent;

    &::placeholder {
      font-size: 12px;
    }
  }
}
